<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Member Profile</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
        rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
        <table class="table table-striped">
    <thead>
        <tr>
            <th> Member Name </th>
            <th> Win Count </th>
            <th> Loss Count </th>
            <th> Average Score  </th>
            <th> High Score </th>
            <th> High Score Date </th>
            <th> High Score Opponent </th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="member : ${memberprofile}">
            <td><span th:text="${member.name}"> Member Name </span></td>
            <td><span th:text="${member.wincount}"> Member Win Count </span></td>
            <td><span th:text="${member.losscount}"> Member Loss Count</span></td>
            <td><span th:text="${member.averagescore}"> Member Average Score </span></td>
            <td><span th:text="${member.highscore.highscore}"> Member High Score </span></td>
            <td><span th:text="${member.highscore.whenScored}"> Member High Score Date </span></td>
            <td><span th:text="${member.highscore.opponent}"> Member High Score Opponent </span></td>
        </tr>
    </tbody>
</table>


        <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
        <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </div>
</body>

</html>